BETTER_AUTH_SECRET=1x2dbLaR2Jgna8ziLfgAHkJcUbpagmPr
PORT=8080
BETTER_AUTH_URL=http://localhost:8080
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/m2scraper
DISCORD_CLIENT_ID=1478004415272059071
DISCORD_CLIENT_SECRET=pCr3hS5gtbJXZBORM95SBSUzu6nfjlX3
FRONTEND_URL=http://localhost:5173
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1478061799764131860/a-mo-RVtjWx4YMsPIPFrnSSVWLESVeqY-oxYc9CCs96OPqwfaiv8rzt5__-WePVz6ZtY
#